<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h4>회원 정보</h4>
        <h5><%= title %></h5>
        <div>성함 : <span><%= userInfo.name%></span></div>
        <div>성별 : <span><%= userInfo.gender%></span></div>
        <div>생년월일 : <span><%= userInfo.year%>-<%= userInfo.month%>-<%= userInfo.day%></span></div>
        <div>관심사 : <span><%= userInfo.interests%></span></div>
        <!-- if문은 기본값이 true일때니까 굳이 === 'true'는 안써줘도 됌 -->
        <% if(userInfo.color.result){ %>
        <div>좋아하는 색상 : <span><%= userInfo.color%></span></div>
        <% } %> <% if(userInfo.email.result){ %>
        <div>이메일 : <span><%= userInfo.email%></span></div>
        <% } %>
        <br />
        <a href="/">홈으로 이동</a>
    </body>
</html>
